.form-group {
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
}
.container {
    display: inline-block;
    width: 15%;
}
label {
    font-size: .8rem;
}
.form-control {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding:.2rem;
}
.level {
    width: 40%;
}