<table>
    <thead>
        <tr>
            <th>Race</th>
            <th>Subraces</th>
            <th>Publication</th>
            <th>Page</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>
    <ng-container *ngFor="let race of races">
      
            <tr ng-repeat="let race of races">
               <td> <app-race-row [race]="race"></app-race-row></td>
               <td> <app-race-row-subrace [race]="race"></app-race-row-subrace></td> 
            </tr>
       
    </ng-container>
 </tbody>

</table>