<section>
  <h2>Project Description</h2>
  <p>My project idea is to create a one stop location for all reference material available to create
      a player character in <abbr title="Dungeons and Dragons">D&D</abbr> <abbr title="5e">5e</abbr>.
      Many veteran players can attest to how long it takes to go through all the available reference material
      to create a character. Not including the players handbook there are several publications and
      over a dozen playtest documents available just for character creation.</p>
  <p>The general idea is have different sections related race, subrace, class, archetype, feats, spells, and
      equipment. It would also have be able to be filtered to remove playtest material, only show playtest
      material, and show all material. In addition it would have an RNG to simulate die rolls for getting a
      characters stats.</p>
</section>
<section>
  <h2>Web Applications</h2>
  <ul>
      <li> <a href="creator.html">Character creator</a>: Would allow for <abbr title="Dungeon Masters">DMs</abbr> to
          create
          <abbr title="Non Player Characters">NPCs</abbr> and for for players to create thier characters</li>
      <li> <a href="info.html">Compendium of Knowledge</a> Could be used as an online resource for any information
          that someone
          can't recall where they found it and doesn't want to sort through over a thousand pages of information</li>
  </ul>
</section>
<section>
  <h2>References</h2>
  <ul>
      <li><a class="reference" href="http://dnd.wizards.com/articles-tags/unearthed-arcana"> Unearther Arcana Playtest
              Material</a></li>
      <li><a class="reference" href="https://www.dmsguild.com/"> DMs Guild</a></li>
      <li><a class="reference" href="http://dnd.wizards.com/products/tabletop-games/rpg-products"> Wizards of the
              Coast Official Store</a></li>
  </ul>
</section>
