<table>
    <thead>
        <tr>
            <th>Race</th>
            <th>Subraces</th>
            <th>Publication</th>
            <th>Page</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr> <!--Turn this into a ngfor race-->
            <td>Aarakocra</td>
            <td>None</td>
            <td><abbr title="Players Companion">PC</abbr></td>
            <td>3</td>
            <td>
                <img src="../../img/races/aarakocraDnd.jpg">
            </td>
        </tr>
      </tbody>
</table>